{{>partials/head_body}}
{{>partials/header_menu}}
  
  <main class="container__blog">
    <h1 class="container__blog__title">Raul das Prod Blog</h1>
    <h2 class="container__blog__em__construcao">Em construção</h2>

    <p class="container__blog__info">
      Em breve um blog repleto de tutoriais e conteúdo do audiovisual para vocês, não deixe de me seguir no Instagrama para acompanhar a evolução do projeto!
    </p>
  </main>

{{>partials/footer}}