<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta 
    name="description" 
    content="
      Página não encontrada!!!
    ">
    <title>Erro 404</title>
    

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css" />
    
    <!--SCROLL REVEAL ANIMATION -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Inserção de svg em código no html-->
    <script src="/js/SVGInject.min.js"></script>

  </head>
  <body>
    <div id="progress-bar"></div>
{{>partials/header_menu}}

  <h1>Ops, Parece que está página não existe</h1>

{{>partials/footer}}