<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta 
    name="description" 
    content="
      Página não encontrada!!!
    ">
    <title>Erro 404</title>
    

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/error404.css" />
    
    <!--SCROLL REVEAL ANIMATION -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Inserção de svg em código no html-->
    <script src="/js/SVGInject.min.js"></script>

  </head>
  <body>
    {{>partials/header_menu}}
    <section class="error__section">
      <div class="error">
        <span class="word">Error</span>
        <span class="number">404</span>
      </div>
      <h1>:( Desculpe, a página não foi encontrada.</h1>
      <p>Caso tenha certeza de que algo está incorreto <a href="https://instagram.com/rauldasprod">clique aqui para me informar.</a></p>
      <p>Tente outro link ou retorne para a página inicial.</p>

      <a class="voltar" href="https://raul-das-prod.vercel.app">Voltar</a>

    </section>

{{>partials/footer}}