{{>partials/head_body}}

<!--BG HERO-->
<div class="container__bg-hero flex flex__collumn">
  {{>partials/header_menu}}
  <!-- SECTION LOGO PRINCIPAL -->
  <section class="container__logo flex flex__between flex__collumn">
    <div class="container__logo__pricipal">
      <img
        class="logo__principal"
        src="/images/logoPrincipal.svg"
        onload="SVGInject(this)"
        alt="logo a film by Raul na cor bege"
      />
    </div>
    <div class="container__icon__scroll">
      <img
        src="/images/scrollIcon.svg"
        alt="icone de setas indicando para rolar a página para baixo"
      />
    </div>
  </section>
</div>

<!-- SECTION PROJECTS (MAIN) -->
<main class="container__main flex flex__center">
  <div class="container__bg__red">
    <div class="container__bg__black">
      <div class="container__description flex flex__collumn">
        <h1>Projetos</h1>
        <p>
          Estes são os projetos mais recentes que tive a honra de participar
          juntamente à equipe ilhaCrop Audiovisual, da qual faço parte. Se
          inscreve no canal e não perca nenhuma novidade!
        </p>
      </div>
      <!-- PROJECTS -->
      <div class="container__projects flex flex__collumn">
        {{#data}}
        {{>partials/cardProjetosHome}}
        {{/data}}
      </div>
    </div>
    <div class="container__division"></div>
  </div>
</main>

<!-- SECTION INSTA BANNER-->
<section class="container__insta flex flex__center">
  <div class="container__insta__width">
    <div class="container__insta__info flex flex__collumn">
      <div class="flex flex__center">
        <h1>INSTAGRAM <span>@rauldasprod</span></h1>
      </div>
      <div>
        <p>
          Caso você ainda não saiba, neste exato momento estou postando vários
          conteúdos no meu perfil do Instagram. Se liga!
        </p>
      </div>
    </div>
    <div class="container__insta__banner">
      <div class="banner"></div>
      <button class="btn">
        <a href="https://www.instagram.com/rauldasprod/" target="_blank"
          >Me Segue Lá!</a
        >
      </button>
    </div>
  </div>
</section>

{{>partials/footer}}
