{{>partials/head_body}}
<!--BG HERO-->
{{>partials/header_menu}}

<div class="container__bg__hero ">
  <div class="container__bg__heroImage">
    
  </div>
  <!-- SECTION LOGO PRINCIPAL -->
 
    <div class="container__icon__scroll">
      <a href="#projects">
        <img
          src="/images/scrollIcon.svg"
          onload="SVGInject(this)"
          alt="icone de setas indicando para rolar a página para baixo"
        />
      </a>
    </div>

</div>

<!-- SECTION PROJECTS (MAIN) -->
<main class="container__main flex flex__center">
  <div class="container__bg__red max750">
    <div class="container__bg__black max750">
      <div
        class="container__description load__hidden flex flex__collumn flex__center"
      >
        <h1 id="projects" class="titleMango">Projetos</h1>
        <p>
          Estes são os projetos mais recentes que tive a honra de participar
          juntamente à equipe ilhaCrop Audiovisual, da qual faço parte.
        </p>
      </div>
      <!-- PROJECTS -->
      <div class="container__projects flex flex__collumn">
        {{#dataCardVideo}}
        {{>partials/cardProjetosHome}}
        {{/dataCardVideo}}
      </div>
    </div>
    <div class="container__division"></div>
  </div>
</main>

<!-- SECTION INSTA BANNER-->
<section class="container__insta flex flex__center">
  <div class="max750">
    <div class="container__insta__info flex flex__collumn" data-aos="fade-up">
      <div class="flex flex__center">
        <h1 class="titleMango">INSTAGRAM <span>@rauldasprod</span></h1>
      </div>
      <div>
        <p class="insta__info">
          Caso você ainda não saiba, neste exato momento estou postando vários
          conteúdos no meu perfil do Instagram. Se liga!
        </p>
      </div>
    </div>
    <div
      class="container__insta__banner"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="container__insta__widget">
        <div class="container__insta__profile flex flex__between">
          <div class="container__insta__profileDetails flex flex__center">
            <img
              src="/images/profile_raul.jpg"
              alt="Foto de perfil do instagram Rauldasprod"
            />
            <div class="insta__details">
              <p>Raul Das Prod</p>
              <span>A film by Raul</span>
            </div>
          </div>
          <a href="https://instagram.com/rauldasprod" class="btn">Seguir</a>
        </div>

        <div class="relative">
          <div class="swiper2">
            <div class="swiper-wrapper">
              <!-- Slides -->
              {{#finalPubli}}
              <div class="swiper-slide">
                <a href={{permalink}} target="_blank">
                  <div
                    class="container__card__instaPubli wh100 relative"
                    style="background-image: url('{{ thumbnail_url }}');"
                  >
                    <div class="container__card__instaPubli__info wh100 flex flex__collumn">
                      <div class="publi__details">
                        <img
                        src="/images/profile_raul.jpg"
                        alt="Foto de perfil do instagram Rauldasprod"
                        />
                        <div class="profile">
                          <p>rauldasprod</p>
                          <span>{{ timestamp }}</span>
                        </div>
                        <img
                          class="logo__insta2"
                          src="/images/logo__insta2.svg"
                          alt="Logo Do Instagram"
                          width="10"
                        />
                      </div>
                      <div class="hidden__caption">
                        <p class="caption">{{{caption}}}</p>
                        <p class="btn__ver__insta btn">Ver no Instagram</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {{/finalPubli}}
            </div>

            <div class="swiper__button swiper__prev">
              <img src="/images/swiper__icon__prev.svg" width="25" alt="botao previous">
            </div>
            <div class="swiper__button swiper__next">
              <img src="/images/swiper__icon.svg" width="25" alt="botao previous">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{>partials/footer}}
