
@keyframes blink-caret {
  from,to{opacity: 1;}
  50% {opacity: 0;}
}

.prod::after, .color::after, .editor::after{
  content: attr(data-content);
  opacity: 1;
  margin-left: 5px;
  animation: blink-caret .7s infinite;
}


.logoRaul{
  animation: logoAnimation 10s ease forwards;
}

@keyframes logoAnimation {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  30% {
    fill-opacity: 0;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 10;
    opacity: 1;
  }
  60%, 90% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 10;
    opacity: 1;
  }
}