
@keyframes blink-caret {
  from,to{opacity: 1;}
  50% {opacity: 0;}
}

.prod::after, .color::after, .editor::after{
  content: attr(data-content);
  opacity: 1;
  margin-left: 5px;
  animation: blink-caret .7s infinite;
}