// LAYOUT INDEX

//SECTION MAIN
.container__logo{
  width: 100%;
  flex-grow: 1;
  .container__logo__pricipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .logo__principal{
      width: 300px;
    }
  }
  .container__icon__scroll{
    padding: 2rem 1rem;
  }
}

//SECTION PROJECTS
.container__main{
  background-color: $black__light;
  position: relative;
}
.container__bg__red{
  background-color: $bg__red;
  overflow: hidden;
  max-width: 750px;
  .container__division{
    width: 100%;
    height: 100px;
    background-image: url('../../images/bg__division__mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -12px;
  }
}
.container__bg__black{
  max-width: 750px;
  background-color: $black__light;
  margin-top:40px;
  margin-bottom: 50px;
}

.container__description{
  border-bottom: 1px solid $beige;
  padding: 2rem 1rem;
}

.container__projects{
  padding: 2rem 0;
  gap: 2rem;
}


//SECTION INSTA BANNER

.container__insta{
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: $beige;
  .container__insta__width{
    max-width: 750px;
  }
  .container__insta__info{
    border-bottom: 1px solid $black__light;
    padding: 2rem 1rem;
  }
}

.container__insta__banner{
  margin-top: 20px;
  padding: 1rem;
  .banner{
    width: 100%;
    height: 200px;
    background: url('../../images/banner__insta__mobile.png') no-repeat;
    background-size: contain;
  }
}
  
/*PÁGINA SOBRE*/
.sobre__container{
  margin-bottom: 3rem;
  .container__header{
    background-color: $beige;
  }
  &__division{
    position: relative;
    height: 50%;
    background-color: $black__light;
    &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:url('../../images/bg__division__mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
    }
  }
  &__bg{
    padding: 2rem;
    background-image: url('https://res.cloudinary.com/dn7vmnw2j/image/upload/c_scale,h_330,q_auto:best,w_310/v1687501636/Raul_Background.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
  }

  &__questions{
    position: relative;
    .icons{
      position: absolute;
      bottom: -105px;
      z-index: 3;
      .iconDesktop{
        display: none;
      }
    }
  }
  &__skills{
    padding-bottom: 4rem;
  }
  p{
    padding-bottom: .8rem;
  }

  
  &__formation {
    margin-top: 1rem;
    padding: 2rem;
    p{
      color: $black__light;
    }
  }
}

.container__carousel{
  width: 100%;
  height: 283px;
  max-height: 555px;
  max-width: 750px;
  margin: 0 auto;
}
.carouselBG{
  width: 320px;
  height: 283px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: relative;
}

.swiper {
  width:96.7%;
  height: auto;
  top: 52px;
  border-radius: 1rem;
}
.swiper-wrapper img{
  width: 100%;
}

.sobre__container{
  &__secondary{
    background-color: $black__light;
    color: $beige;
    padding: 1rem 2rem;
    &__info{
      margin: 0 auto;
      .icon{
        margin: 2rem 0rem;
      }
    }
  }
  &__job{
    p:first-child{
      padding-bottom: 1rem;
      border-bottom: 1px solid $beige;
    }
    p:last-child{
      padding-top: 1rem;
    }
  }
  &__job__photo{
    margin-top: 2.5rem;
    border-right: 1.5rem solid $bg__red;

    img{
      display: block;
      width: 100%;
      padding-right: 1.5rem;
    }
  }
}

.enjoy{
  background-color: $black__light;
  padding: 2rem;
}