// LAYOUT INDEX

//SECTION MAIN
.container__logo{
  width: 100%;
  flex-grow: 1;
  .container__logo__pricipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .logo__principal{
      width: 300px;
    }
  }
  .container__icon__scroll{
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem;
  }
}

//SECTION PROJECTS
.container__main{
  background-color: $black__light;
  position: relative;
}
.container__bg__red{
  background-color: $bg__red;
  overflow: hidden;
  max-width: 750px;
  .container__division{
    width: 100%;
    height: 100px;
    background-image: url('../../images/bg__division__mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -12px;
  }
}
.container__bg__black{
  max-width: 750px;
  background-color: $black__light;
  margin-top:40px;
  margin-bottom: 50px;
}

.container__description{
  border-bottom: 1px solid $beige;
  padding: 2rem 1rem;
}

.container__projects{
  padding: 2rem 0;
  gap: 2rem;
}


//SECTION INSTA BANNER

.container__insta{
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: $beige;
  .container__insta__width{
    max-width: 750px;
  }
  .container__insta__info{
    border-bottom: 1px solid $black__light;
    padding: 2rem 1rem;
  }
}

.container__insta__banner{
  margin-top: 20px;
  padding: 1rem;
  .banner{
    width: 100%;
    height: 200px;
    background: url('../../images/banner__insta__mobile.png') no-repeat;
    background-size: contain;
  }
}
  