/*PAGINA HOME/INDEX*/
//SECTION MAIN
.container__logo{
  width: 100%;
  flex-grow: 1;
  .container__logo__pricipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .logo__principal{
      width: 300px;
    }
  }
  .container__icon__scroll{
    padding: 2rem 1rem;
  }
}

//SECTION PROJECTS
.container__main{
  background-color: $black__light;
  position: relative;
}
.container__bg__red{
  background-color: $bg__red;
  overflow: hidden;
  .container__division{
    width: 100%;
    height: 100px;
    background-image: url('../../images/bg__division__mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -12px;
  }
}
.container__bg__black{
  background-color: $black__light;
  margin-top:40px;
  margin-bottom: 50px;
}

.container__description{
  border-bottom: 1px solid $beige;
  padding: 2rem 1rem;
}

.container__projects{
  padding: 2rem 0;
  gap: 2rem;
}

//SECTION INSTA BANNER
.container__insta{
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: $beige;
  .container__insta__info{
    border-bottom: 1px solid $black__light;
    padding: 2rem 1rem;
  }
}

.container__insta__banner{
  margin-top: 20px;
  padding: 1rem;
  .banner{
    width: 100%;
    height: 200px;
    background: url('../../images/banner__insta__mobile.png') no-repeat;
    background-size: contain;
  }
}
  
/*PÁGINA SOBRE*/
.container__sobre{
  margin-bottom: 3rem;
  .container__header{
    background-color: $beige;
  }
  &__division{
    position: relative;
    height: 50%;
    background-color: $black__light;
    &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:url('../../images/bg__division__mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    }
  }
  &__bg{
    padding: 2rem;
    background-image: url('https://res.cloudinary.com/dn7vmnw2j/image/upload/c_scale,h_330,q_auto:best,w_310/v1687501636/Raul_Background.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &__skills{
    width: 97px;
    p{
      margin-bottom: 1.5rem;
      width: min-content;
    }
  }
  
  &__formation {
    margin-top: 1rem;
    padding: 2rem;
    position: relative;
    p{
      color: $black__light;
    }
  }
  &__icons{
    position: absolute;
    left: 2rem;
    top: -70px;

    .iconDesktop{
      display: none;
    }
  }
}

.container__carousel{
  width: 100%;
  height: 283px;
  max-height: 555px;
  max-width: 750px;
  margin: 0 auto;
}
.carouselBG{
  width: 320px;
  height: 283px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: relative;
}

.swiper {
  width:96.7%;
  height: auto;
  top: 52px;
  border-radius: 1rem;
}
.swiper-wrapper img{
  width: 100%;
}
.swiper-button-next{
   background: url('../../images/swiper__next.svg')  center/contain no-repeat;
  &::after{
    content: '' !important;
  }
}

.swiper-button-prev{
  background: url('../../images/swiper__prev.svg')  center/contain no-repeat;
 &::after{
   content: '' !important;
 }
}

.container__sobre{
  &__secondary{
    background-color: $black__light;
    color: $beige;
    padding: 1rem 2rem;
    &__info{
      margin: 0 auto;

      hr{
        margin: 20px 0;
      }

      .icon{
        margin: 2rem 0rem;
      }

    }
  }
  &__job{
      gap: 2rem;
      &__photo img{
        height: 100%;
        display: block;
        margin: 0 auto;
        padding-right: 20px;
        border-right: 20px solid;
        border-color: $bg__red;
      }
    } 
}

.enjoy{
  background-color: $black__light;
  padding: 2rem;
}

/*Página Projetos*/

.container__projetos{
  h1{
    padding: 2rem 0;
  }
  &__gallery{
    padding: 0 2rem 3rem;
  }
  &__sections{
    padding-bottom: 1rem;
    h2{
      margin: 2rem 0 1rem;
      border-bottom: 3px solid $beige__light;
    }
  }
  &__cards{
    display: grid;
    grid-template-columns:  1fr;
    gap: 1rem;
  }
}

/*Página Blog*/

.container__blog__main{
  height: 100%;
  padding: 2rem;

  background-image: url('https://res.cloudinary.com/dn7vmnw2j/image/upload/e_grayscale,q_auto:best/v1688628645/47bjdjiniy4vbdz6kmydq-scaled-e1671231885653-removebg_h57ohw.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container__blog{
  background: rgba($color: $black__light, $alpha: .3);
  backdrop-filter: blur(2.5px);
  border-radius: 1rem;
  height: 80%;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}