@media screen and (min-width:425px) {
  /*PAGE HOME*/
  .container__bg__red .container__division{
    height: 211px; 
    background-image: url('../../images/bg__division__desktop.svg');
    bottom: 0px;
    left: 0px;
  }

  /*PAGINA SOBRE*/
  .sobre__container .sobre__container__division::before{
    background-image: url('../../images/bg__division__desktop.svg');
  }

}
@media screen and (min-width: 560px) {
  /*PAGE HOME*/
  //HEADER MENU
  .container__header{
    height: 70px ;
  }
  .header__nav{
    width: 100%;
  }
  .nav__logo{
    height: inherit;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a{
      height: inherit;
    }
  }

  .nav__list{
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
    background: none;
    position: static;
    visibility: visible;
    z-index: 0;
    &::before{
      display: none;
    }
    .nav__list__item{
      padding: 1rem;
      &:nth-child(2){
        margin-right: auto;
      }
    }
  }
  .btn__mobile{
    display: none;
  }

  //SECTION LOGO MAIN

  .container__logo .container__logo__pricipal .logo__principal{
    width: 380px;
  }


  //SECTION MAIN
  .container__bg__black{
    margin-bottom: 130px;
  }
  .container__description{
    flex-direction: row;
    padding: 2rem 0;

    h1{
      height: 140px;
    }

    p{
      font-size: 1.4rem;
      padding-left:4rem;
    }
  }

  //CARDS PROJETOS
  .container__card{
    flex-direction: row;
    height: 200px;
    width: 100%;
    margin: 0;
    .card__video, iframe{
      height: 100%;
      width: auto;
    }
  }

  //SECTION INSTA BANNER

  .container__insta .container__insta__info{
    flex-direction: row;
    p{
      padding-left:  4rem;
      padding-top: .3rem;
      font-size: 1.4rem;
    }
  }
  .container__insta__banner .banner{
    background-image: url('../../images/banner__insta.png');
    background-size: cover;
    width: 100%;
    height: 195px;
  }

  /*PÁGINA SOBRE*/
  .sobre__container{
    margin-bottom: 8rem;
    .container__header{
      background-color: $beige;
    }
    &__division{
      height: 70%;
      &::before{
        background-image:url('../../images/bg__division__desktop.svg');
      }
    }
    &__bg{
      background-size: 55%;
      background-position-x: 76%;
    }
    &__questions{
      p, span{
        font-size: 6rem;
        padding: 0;
      } 
      .icons{
        bottom: -90px;
        .iconDesktop{
          display: block;
        }
        .iconMobile{
          display: none;
        }
      }
    }
    &__skills p{
      font-size: 2rem;
    }
    &__formation p{
      font-size: 1.375rem;
    }

  }


  .container__carousel{
    width: 100%;
    height: 100%;
    max-height: 555px;
    max-width: 750px;
    margin: 0 auto;
  }
  .carouselBG{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    background-size: inherit;
  }
  
  .swiper {
    width: 84.6%;
    height: 50.45%;
    top: 14.414%;
    border-radius: 1rem;
  }
  .swiper-wrapper img{
    width: 100%;
  }

  .sobre__container{
    &__content{
      flex-direction: row;
    }
    &__job{
    flex-direction: row;
      &__info{
        padding-right: 7rem;
      }
      &__photo {
        margin-top: 0;
        img{
         width: 250px;
         height: 380px; 
        }
      }
    }
    &__textsQuestions p, span{
      font-size: 6rem;
    }
    &__textsSkills p{
      font-size: 2rem;
    }
    &__personText p{
      font-size: 1.375rem;
    }
     
    &__job__info p{
      font-size: 1.375rem;
    }

  }
  //FOOTER

  .container__footer .footer__links{
    flex-direction: row;
    gap: 4rem;
    padding: 3rem 1rem;
  }

}

@media screen and (min-width: 1440px) {
    /*PAGE HOME*/
  .container__bg__red .container__division{
    background-image: url('../../images/bg__division__lg__desktop.svg');
  }
  /*PAGE SOBRE*/

  .sobre__container .sobre__container__division::before{
    background-image: url('../../images/bg__division__lg__desktop.svg');
  }
}