@font-face {
  font-family: 'MangoGrotesque';
  src: url('../fonts/Humane-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/Humane-Bold.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {font-family: "Network Free Version";
  src: url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.eot"); /* IE9*/
  src: url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.woff2") format("woff2"), /* chrome、firefox */
  url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.woff") format("woff"), /* chrome、firefox */
  url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.svg#Network Free Version") format("svg"); /* iOS 4.1- */
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Medium'), local('Helvetica-Now-Display-Medium'),
      url('../../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
      url('../../fonts/HelveticaNowDisplay-Medium.woff') format('woff'),
      url('../../fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*{
  font-family: "Helvetica Now Display", sans-serif;
  text-decoration: none;
}

a{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $black;
}

h1.titleMango{
  font-family: 'MangoGrotesque', sans-serif;
  font-size: 10rem;
  text-align: center;
  color: $beige;
  text-transform: uppercase;
}

button{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.highlight{
  color: $bg__red;
}
/* PAGE HOME */

.card__description{
  p{
    margin-top: 5px;
  }
  h2 a {
    font-size: 1rem;
    font-weight: bold;
  }
}

.container__description p{
  font-size: 1.125rem;
  color: $beige__light;
}

//SECTION INSTA
.container__insta {
  h1.titleMango{
    position: relative;
    color: $black__light;
    font-size: 8.125rem;
    span{
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
      font-weight: 550;
      text-transform: lowercase;
      position: absolute;
      left: 0px;
      bottom: -1px;
    }
  }
  p{
    padding-top: 1.5rem;
  }
}

//BTN INSTA
.btn{
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: $bg__red;
  box-shadow: -1px 2px 8px 1px $black__light;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  a{
    display: block;
    width: 100%;
    padding: .7rem;
    color: $beige;
    transition: all 0.3s ease;
  }
}


.btn:hover {
  background: transparent;
  box-shadow: none;

  a {
    color: $bg__red;
    letter-spacing: .5rem;
  }
}

.btn:before,
.btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
  background: $bg__red;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/*PAGINA SOBRE*/

.container__sobre{
  color: $beige;
  &__questions p, span{
    text-transform: uppercase;
    font-family: 'MangoGrotesque', sans-serif;
    font-size: 3rem;
  }
  &__skills p{
    font-family: 'Network Free Version';
    font-size: 1.525rem;
    color: $beige;
    &.prod{
      transform: rotate(-13.804deg);
    }
    &.editor{
      transform: rotate(17.979deg); 
    }
  }

}

.enjoy p{
  font-family: 'MangoGrotesque', sans-serif;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: .4rem;
}


/*PÁGINA PROJETOS*/
.container__projetos{
  h1{
    font-family: 'MangoGrotesque', sans-serif;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__sections{
    h2{
      text-transform: capitalize;
    }
  }
  .container__video__cardTitle{
    font-size: 1.5rem;
  }
}
/*Página Blog*/

.container__blog__title{
  color: $beige;
  font-family: 'MangoGrotesque', sans-serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  text-align: center;
  text-transform: uppercase;
}
.container__blog__em__construcao{
  color: $beige;
  font-size: 1.1rem;
}
.container__blog__info{
  font-size: 1rem;
  color: $beige;
}


//FOOTER

.container__footer a{
  color: $beige;
  font-size: 1rem;
}