<div class="container__insta__widget">
  <div class="container__insta__profile">
    <div class="container__insta__details__profile">
      <img src="" alt="Foto de perfil do instagram Rauldasprod">
      <div class="insta__details">
        <p>Raul Das Prod</p>
        <span>Se liga no que ta rolando por lá</span>
      </div>
      <a href="https://instagram.com/rauldasprod" class="btn">Me Segue Lá!</a>
    </div>
  </div>
  <div>
    <div class="container__card__instaPubli">
      <div class="container__card_instaPubli__info">
        <img src="" alt="Foto de perfil do instagram Rauldasprod">
        <p>rauldasprod</p>
        <span>data</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quam ipsa ea asperiores nostrum doloremque natus perferendis eligendi deserunt quaerat.</p>
        <img src="/images/logo__insta.svg" width="20" alt="Logo Do Instagram">
      </div>
    </div>
  </div>
</div>