<!-- FOOTER -->

<footer class="container__footer flex flex__collumn flex__center">
  <div class="flex flex__collumn footer__links">
    <div class="flex flex__center">
      <img class="footer__logo" src="/images/logo__bege.svg" alt="logo R na cor bege">
      <ul class="footer__list">
        <li><a class="footer__list__link" href="{{footerFirstLink}}">{{footerFirstLinkName}}</a></li>
        <li><a class="footer__list__link" href="/projetos">Projetos</a></li>
        <li><a class="footer__list__link" href="/blog">Blog</a></li>
      </ul>
    </div>

    <div class="footer__redes flex flex__center flex__collumn">
      <div class="redes flex">
        <a href="https://instagram.com/rauldasprod" target="_blank"><img src="/images/logo__insta.svg" alt="logo instagram"></a>
        <a href="https://youtube.com/@ilhacrop" target="_blank"><img src="/images/logo__youtube.svg" alt="logo youtube"></a>
        <a href="https://linkedin.com/in/raulafonsomoreira" target="_blank"><img src="/images/logo__linkedin.svg" alt="logo linkedin"></a>
      </div>
      <p>Contato: rauldasprod@outlook.com</p>
    </div>
  </div>

  <div class="scroll__top">
    <a href="#header" ><img src="/images/scrollIconTop.svg" onload="SVGInject(this)" alt="subir ao toppo da pagina"></a>
  </div>

  <div class="footer__copy">
    <p>Copyryght &copy; 2023 Raul Afonso | Todos os direitos reservados </p>
    <p>Desenvolvido por <a href="https://linkedin.com/in/lsantanaa">LSDev</a></p>
  </div>

</footer>

<script type="module" src="/js/app.js"></script>
</body>
</html>