<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta 
    name="description" 
    content="
    Conheça Raul Afonso, um talentoso produtor audiovisual que traz vida ás suas ideias.
    Apaixonado pela arte de criar conteúdo visual impactante, Raul trabalha com as mais variadas formas de produção
    com habilidade e criatividade. Descubra um pouco mais do seu trabalho e sua paixão pelo Audiovisual.
    ">
    <meta name="google-site-verification" content="wJmc_IGZtIofExB4UuTpytJ6StvwReiwYNNUL2KF4cM" />

    <title>Raul Afonso - Produtor Audiovisual | {{pageTitle}}</title>
    

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css" />
    
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!--SCROLL REVEAL ANIMATION -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Inserção de svg em código no html-->
    <script src="/js/SVGInject.min.js"></script>

  </head>
  <body>
    <div id="progress-bar"></div>