@charset "UTF-8";
/*swiper edit*/
:root {
  --swiper-theme-color: #f23030 !important;
  --swiper-navigation-color: #f23030 !important;
}

/*GERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #FEE9C0 #000;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  background-color: #FEE9C0;
}

html.sr .load__hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #FEE9C0;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c9b691;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex__collumn {
  flex-direction: column;
}

.flex__row {
  flex-direction: row;
}

.flex__center {
  justify-content: center;
  align-items: center;
}

.flex__between {
  justify-content: space-between;
  align-items: center;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.max660 {
  max-width: 660px;
}

.m__auto {
  margin: 0 auto;
}

.container__bg-hero {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg_teste.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*TIPOGRAFIA*/
@font-face {
  font-family: "MangoGrotesque";
  src: url("../fonts/Humane-Bold.woff2") format("woff2"), url("../fonts/Humane-Bold.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Network Free Version";
  src: url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.eot"); /* IE9*/
  src: url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.eot?#iefix") format("embedded-opentype"), url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.woff2") format("woff2"), url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.woff") format("woff"), url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.ttf") format("truetype"), url("../../fonts/172a9ebc9154b984ad72c8abdbc56b86.svg#Network Free Version") format("svg"); /* iOS 4.1- */
}
* {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

a {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

h1 {
  font-family: "MangoGrotesque", sans-serif;
  font-size: 10rem;
  text-align: center;
  color: #FEE9C0;
  text-transform: uppercase;
}

button {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.highlight {
  color: #F23030;
}

/* PAGE HOME STYLES */
.card__description p {
  margin-top: 5px;
}
.card__description h3 a {
  font-size: 1rem;
  font-weight: bold;
}

.container__description p {
  font-size: 1.125rem;
  color: #c9b691;
}

.container__insta h1 {
  position: relative;
  color: #161616;
  font-size: 8.125rem;
}
.container__insta h1 span {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 550;
  text-transform: lowercase;
  position: absolute;
  left: 0px;
  bottom: -1px;
}
.container__insta p {
  padding-top: 1.5rem;
}

.btn {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #F23030;
  box-shadow: -1px 2px 8px 1px #161616;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
}
.btn a {
  display: block;
  width: 100%;
  padding: 0.7rem;
  color: #FEE9C0;
  transition: all 0.3s ease;
}

.btn:hover {
  background: transparent;
  box-shadow: none;
}
.btn:hover a {
  color: #F23030;
  letter-spacing: 0.5rem;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
  background: #F23030;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1333333333);
  transition: 400ms ease all;
}

.btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/*PAGINA SOBRE*/
.sobre__container {
  color: #FEE9C0;
}
.sobre__container__questions p, .sobre__container span {
  text-transform: uppercase;
  font-family: "MangoGrotesque", sans-serif;
  font-size: 3rem;
}
.sobre__container__skills p {
  font-family: "Network Free Version";
  font-size: 1.525rem;
  color: #FEE9C0;
  opacity: 0;
}
.sobre__container__skills p.prod {
  transform: rotate(-13.804deg);
}
.sobre__container__skills p.editor {
  transform: rotate(17.979deg);
}

.enjoy p {
  font-family: "MangoGrotesque", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
}

.container__footer a {
  color: #FEE9C0;
  font-size: 1rem;
}

/*HEADER MENU*/
.container__header {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 2;
  position: relative;
}
.container__header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  z-index: -1;
}

.nav__logo svg {
  height: 60px;
}

.nav__list {
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 78px;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: 2;
  transition: 0.6s;
  visibility: hidden;
  overflow-y: hidden;
}
.nav__list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  z-index: -1;
}

.nav__list__item .list__item__link {
  display: block;
  color: #161616;
  padding: 0.4rem;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav__list__item .list__item__link:hover:not(.nav__logo a) {
  color: #474747;
}

.header__nav.ativo .nav__list {
  height: 136px;
  visibility: visible;
}

.btn__mobile {
  display: flex;
  margin: 4px;
  padding: 0.5rem 1rem;
  background: none;
  cursor: pointer;
  border: none;
  gap: 0.5rem;
}
.btn__mobile #hamburguer {
  border-top: 3px solid;
  color: #000;
  width: 25px;
  display: block;
  transition: 0.5s ease;
}
.btn__mobile #hamburguer::after, .btn__mobile #hamburguer::before {
  position: relative;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s ease;
}

.header__nav.ativo #hamburguer {
  border-top-color: transparent;
}
.header__nav.ativo #hamburguer::before {
  transform: rotate(135deg);
}
.header__nav.ativo #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

/*LAYOUT*/
.container__logo {
  width: 100%;
  flex-grow: 1;
}
.container__logo .container__logo__pricipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.container__logo .container__logo__pricipal .logo__principal {
  width: 300px;
}
.container__logo .container__icon__scroll {
  padding: 2rem 1rem;
}

.container__main {
  background-color: #161616;
  position: relative;
}

.container__bg__red {
  background-color: #F23030;
  overflow: hidden;
  max-width: 750px;
}
.container__bg__red .container__division {
  width: 100%;
  height: 100px;
  background-image: url("../../images/bg__division__mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -12px;
}

.container__bg__black {
  max-width: 750px;
  background-color: #161616;
  margin-top: 40px;
  margin-bottom: 50px;
}

.container__description {
  border-bottom: 1px solid #FEE9C0;
  padding: 2rem 1rem;
}

.container__projects {
  padding: 2rem 0;
  gap: 2rem;
}

.container__insta {
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: #FEE9C0;
}
.container__insta .container__insta__width {
  max-width: 750px;
}
.container__insta .container__insta__info {
  border-bottom: 1px solid #161616;
  padding: 2rem 1rem;
}

.container__insta__banner {
  margin-top: 20px;
  padding: 1rem;
}
.container__insta__banner .banner {
  width: 100%;
  height: 200px;
  background: url("../../images/banner__insta__mobile.png") no-repeat;
  background-size: contain;
}

/*PÁGINA SOBRE*/
.sobre__container {
  margin-bottom: 3rem;
}
.sobre__container .container__header {
  background-color: #FEE9C0;
}
.sobre__container__division {
  position: relative;
  height: 50%;
  background-color: #161616;
}
.sobre__container__division::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../images/bg__division__mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
}
.sobre__container__bg {
  padding: 2rem;
  background-image: url("https://res.cloudinary.com/dn7vmnw2j/image/upload/c_scale,h_330,q_auto:best,w_310/v1687501636/Raul_Background.webp");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.sobre__container__questions {
  position: relative;
}
.sobre__container__questions .icons {
  position: absolute;
  bottom: -105px;
  z-index: 3;
}
.sobre__container__questions .icons .iconDesktop {
  display: none;
}
.sobre__container__skills p {
  margin-bottom: 1.5rem;
  width: -moz-min-content;
  width: min-content;
}
.sobre__container__formation {
  margin-top: 1rem;
  padding: 2rem;
}
.sobre__container__formation p {
  color: #161616;
}

.container__carousel {
  width: 100%;
  height: 283px;
  max-height: 555px;
  max-width: 750px;
  margin: 0 auto;
}

.carouselBG {
  width: 320px;
  height: 283px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: relative;
}

.swiper {
  width: 96.7%;
  height: auto;
  top: 52px;
  border-radius: 1rem;
}

.swiper-wrapper img {
  width: 100%;
}

.swiper-button-next {
  background: url("../../images/swiper__next.svg") center/contain no-repeat;
}
.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev {
  background: url("../../images/swiper__prev.svg") center/contain no-repeat;
}
.swiper-button-prev::after {
  content: "" !important;
}

.sobre__container__secondary {
  background-color: #161616;
  color: #FEE9C0;
  padding: 1rem 2rem;
}
.sobre__container__secondary__info {
  margin: 0 auto;
}
.sobre__container__secondary__info .icon {
  margin: 2rem 0rem;
}
.sobre__container__job {
  gap: 2rem;
}
.sobre__container__job__photo img {
  height: 100%;
  padding-right: 20px;
  border-right: 20px solid;
  border-color: #F23030;
}

.enjoy {
  background-color: #161616;
  padding: 2rem;
}

/*CARDS PROJETOS*/
.container__card {
  margin: 0 1rem;
  background-color: #FEE9C0;
}
.container__card .card__video, .container__card iframe {
  width: 100%;
}
.container__card .card__description {
  padding: 1rem;
}

/*FOOTER*/
.container__footer {
  position: relative;
  background-color: #161616;
  color: #FEE9C0;
  border-top: 1px solid #FEE9C0;
}
.container__footer .footer__links {
  padding: 1rem;
}
.container__footer .footer__logo {
  display: inline-block;
  margin: 10px;
  border-right: 1px solid #FEE9C0;
  padding-right: 1rem;
}
.container__footer .footer__list {
  padding: 1rem;
}
.container__footer .footer__list .footer__list__link {
  display: block;
  width: 100%;
  padding: 0.4rem;
}
.container__footer .footer__redes {
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.container__footer .footer__redes .redes {
  gap: 0.5rem;
}
.container__footer .footer__redes img {
  width: 70px;
}
.container__footer .scroll__top {
  position: absolute;
  top: 5px;
  right: 5px;
}
.container__footer .scroll__top a {
  display: block;
  padding: 0.5rem;
  width: 100%;
}
.container__footer .scroll__top a img {
  width: 50px;
}
.container__footer .footer__copy {
  width: 100%;
  border-top: 1px solid #FEE9C0;
  text-align: center;
  padding: 1rem;
}
.container__footer .footer__copy p {
  padding: 0.5rem;
}
.container__footer .footer__copy a {
  text-transform: none;
}

/*Animações*/
@keyframes blink-caret {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.prod::after, .color::after, .editor::after {
  content: attr(data-content);
  opacity: 1;
  margin-left: 5px;
  animation: blink-caret 0.7s infinite;
}

.logoRaul {
  animation: logoAnimation 10s ease forwards;
}

@keyframes logoAnimation {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  30% {
    fill-opacity: 0;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 10;
    opacity: 1;
  }
  60%, 90% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 10;
    opacity: 1;
  }
}
/*MEDIA QUERIES*/
@media screen and (min-width: 425px) {
  /*PAGE HOME*/
  .container__bg__red .container__division {
    height: 211px;
    background-image: url("../../images/bg__division__desktop.svg");
    bottom: 0px;
    left: 0px;
  }
  /*PAGINA SOBRE*/
  .sobre__container .sobre__container__division::before {
    background-image: url("../../images/bg__division__desktop.svg");
  }
}
@media screen and (min-width: 560px) {
  :root {
    --swiper-navigation-size: 60px !important;
  }
  /*PAGE HOME*/
  .container__header {
    height: 70px;
  }
  .header__nav {
    width: 100%;
  }
  .nav__logo {
    height: inherit;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav__logo a {
    height: inherit;
  }
  .nav__list {
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
    background: none;
    position: static;
    visibility: visible;
    z-index: 0;
  }
  .nav__list::before {
    display: none;
  }
  .nav__list .nav__list__item {
    padding: 1rem;
  }
  .nav__list .nav__list__item:nth-child(2) {
    margin-right: auto;
  }
  .btn__mobile {
    display: none;
  }
  .container__logo .container__logo__pricipal .logo__principal {
    width: 380px;
  }
  .container__bg__black {
    margin-bottom: 130px;
  }
  .container__description {
    flex-direction: row;
    padding: 2rem 0;
  }
  .container__description h1 {
    height: 140px;
  }
  .container__description p {
    font-size: 1.4rem;
    padding-left: 4rem;
  }
  .container__card {
    flex-direction: row;
    height: 200px;
    width: 100%;
    margin: 0;
  }
  .container__card .card__video, .container__card iframe {
    height: 100%;
    width: auto;
  }
  .container__insta .container__insta__info {
    flex-direction: row;
  }
  .container__insta .container__insta__info p {
    padding-left: 4rem;
    padding-top: 0.3rem;
    font-size: 1.4rem;
  }
  .container__insta__banner .banner {
    background-image: url("../../images/banner__insta.png");
    background-size: cover;
    width: 100%;
    height: 195px;
  }
  /*PÁGINA SOBRE*/
  .sobre__container {
    margin-bottom: 8rem;
  }
  .sobre__container .container__header {
    background-color: #FEE9C0;
  }
  .sobre__container__division {
    height: 70%;
  }
  .sobre__container__division::before {
    background-image: url("../../images/bg__division__desktop.svg");
  }
  .sobre__container__bg {
    background-image: url("https://res.cloudinary.com/dn7vmnw2j/image/upload/c_scale,f_webp,w_643/v1687501636/Raul_Background.webp");
    background-position-x: 76%;
    background-size: contain;
  }
  .sobre__container__questions p, .sobre__container__questions span {
    font-size: 6rem;
    padding: 0;
  }
  .sobre__container__questions .icons {
    bottom: -90px;
  }
  .sobre__container__questions .icons .iconDesktop {
    display: block;
  }
  .sobre__container__questions .icons .iconMobile {
    display: none;
  }
  .sobre__container__skills p {
    font-size: 2rem;
  }
  .sobre__container__formation p {
    font-size: 1.375rem;
  }
  .container__carousel {
    width: 100%;
    min-height: 555px;
    max-width: 750px;
    margin: 0 auto;
  }
  .carouselBG {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    background-size: inherit;
  }
  .swiper {
    width: 84.6%;
    height: 50.45%;
    top: 14.414%;
    border-radius: 1rem;
  }
  .swiper-wrapper img {
    width: 100%;
  }
  .sobre__container__job {
    flex-direction: row;
  }
  .sobre__container__textsQuestions p, .sobre__container span {
    font-size: 6rem;
  }
  .sobre__container__textsSkills p {
    font-size: 2rem;
  }
  .sobre__container__personText p {
    font-size: 1.375rem;
  }
  .sobre__container__job__info p {
    font-size: 1.375rem;
  }
  .container__footer .footer__links {
    flex-direction: row;
    gap: 4rem;
    padding: 3rem 1rem;
  }
}
@media screen and (min-width: 1440px) {
  /*PAGE HOME*/
  .container__bg__red .container__division {
    background-image: url("../../images/bg__division__lg__desktop.svg");
  }
  /*PAGE SOBRE*/
  .sobre__container .sobre__container__division::before {
    background-image: url("../../images/bg__division__lg__desktop.svg");
  }
}
@media (min-height: 650px) {
  .sobre__container__questions .icons {
    bottom: -130px;
  }
}/*# sourceMappingURL=main.css.map */